<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.manage.mapper.BlogManageMapper">
    
    <resultMap type="BlogManage" id="BlogManageResult">
        <result property="uid"    column="uid"    />
        <result property="title"    column="title"    />
        <result property="summary"    column="summary"    />
        <result property="content"    column="content"    />
        <result property="tagUid"    column="tag_uid"    />
        <result property="clickCount"    column="click_count"    />
        <result property="collectCount"    column="collect_count"    />
        <result property="fileUid"    column="file_uid"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="adminUid"    column="admin_uid"    />
        <result property="isOriginal"    column="is_original"    />
        <result property="author"    column="author"    />
        <result property="articlesPart"    column="articles_part"    />
        <result property="blogSortUid"    column="blog_sort_uid"    />
        <result property="level"    column="level"    />
        <result property="isPublish"    column="is_publish"    />
        <result property="sort"    column="sort"    />
        <result property="openComment"    column="open_comment"    />
        <result property="type"    column="type"    />
        <result property="outsideLink"    column="outside_link"    />
        <result property="oid"    column="oid"    />
        <result property="userUid"    column="user_uid"    />
        <result property="articleSource"    column="article_source"    />
    </resultMap>

    <sql id="selectBlogManageVo">
        select uid, title, summary, content, tag_uid, click_count, collect_count, file_uid, status, create_time, update_time, admin_uid, is_original, author, articles_part, blog_sort_uid, level, is_publish, sort, open_comment, type, outside_link, oid, user_uid, article_source from back_blog
    </sql>

    <select id="selectBlogManageList" parameterType="BlogManage" resultMap="BlogManageResult">
        <include refid="selectBlogManageVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="tagUid != null  and tagUid != ''"> and tag_uid = #{tagUid}</if>
            <if test="clickCount != null "> and click_count = #{clickCount}</if>
            <if test="collectCount != null "> and collect_count = #{collectCount}</if>
            <if test="fileUid != null  and fileUid != ''"> and file_uid = #{fileUid}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="adminUid != null  and adminUid != ''"> and admin_uid = #{adminUid}</if>
            <if test="isOriginal != null  and isOriginal != ''"> and is_original = #{isOriginal}</if>
            <if test="author != null  and author != ''"> and author = #{author}</if>
            <if test="articlesPart != null  and articlesPart != ''"> and articles_part = #{articlesPart}</if>
            <if test="blogSortUid != null  and blogSortUid != ''"> and blog_sort_uid = #{blogSortUid}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="isPublish != null  and isPublish != ''"> and is_publish = #{isPublish}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="openComment != null "> and open_comment = #{openComment}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="outsideLink != null  and outsideLink != ''"> and outside_link = #{outsideLink}</if>
            <if test="userUid != null  and userUid != ''"> and user_uid = #{userUid}</if>
            <if test="articleSource != null "> and article_source = #{articleSource}</if>
        </where>
    </select>
    
    <select id="selectBlogManageByUid" parameterType="String" resultMap="BlogManageResult">
        <include refid="selectBlogManageVo"/>
        where uid = #{uid}
    </select>
        
    <insert id="insertBlogManage" parameterType="BlogManage">
        insert into back_blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null">uid,</if>
            <if test="title != null">title,</if>
            <if test="summary != null">summary,</if>
            <if test="content != null">content,</if>
            <if test="tagUid != null">tag_uid,</if>
            <if test="clickCount != null">click_count,</if>
            <if test="collectCount != null">collect_count,</if>
            <if test="fileUid != null">file_uid,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="adminUid != null">admin_uid,</if>
            <if test="isOriginal != null">is_original,</if>
            <if test="author != null">author,</if>
            <if test="articlesPart != null">articles_part,</if>
            <if test="blogSortUid != null">blog_sort_uid,</if>
            <if test="level != null">level,</if>
            <if test="isPublish != null">is_publish,</if>
            <if test="sort != null">sort,</if>
            <if test="openComment != null">open_comment,</if>
            <if test="type != null">type,</if>
            <if test="outsideLink != null">outside_link,</if>
            <if test="oid != null">oid,</if>
            <if test="userUid != null">user_uid,</if>
            <if test="articleSource != null">article_source,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null">#{uid},</if>
            <if test="title != null">#{title},</if>
            <if test="summary != null">#{summary},</if>
            <if test="content != null">#{content},</if>
            <if test="tagUid != null">#{tagUid},</if>
            <if test="clickCount != null">#{clickCount},</if>
            <if test="collectCount != null">#{collectCount},</if>
            <if test="fileUid != null">#{fileUid},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="adminUid != null">#{adminUid},</if>
            <if test="isOriginal != null">#{isOriginal},</if>
            <if test="author != null">#{author},</if>
            <if test="articlesPart != null">#{articlesPart},</if>
            <if test="blogSortUid != null">#{blogSortUid},</if>
            <if test="level != null">#{level},</if>
            <if test="isPublish != null">#{isPublish},</if>
            <if test="sort != null">#{sort},</if>
            <if test="openComment != null">#{openComment},</if>
            <if test="type != null">#{type},</if>
            <if test="outsideLink != null">#{outsideLink},</if>
            <if test="oid != null">#{oid},</if>
            <if test="userUid != null">#{userUid},</if>
            <if test="articleSource != null">#{articleSource},</if>
         </trim>
    </insert>

    <update id="updateBlogManage" parameterType="BlogManage">
        update back_blog
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="content != null">content = #{content},</if>
            <if test="tagUid != null">tag_uid = #{tagUid},</if>
            <if test="clickCount != null">click_count = #{clickCount},</if>
            <if test="collectCount != null">collect_count = #{collectCount},</if>
            <if test="fileUid != null">file_uid = #{fileUid},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="adminUid != null">admin_uid = #{adminUid},</if>
            <if test="isOriginal != null">is_original = #{isOriginal},</if>
            <if test="author != null">author = #{author},</if>
            <if test="articlesPart != null">articles_part = #{articlesPart},</if>
            <if test="blogSortUid != null">blog_sort_uid = #{blogSortUid},</if>
            <if test="level != null">level = #{level},</if>
            <if test="isPublish != null">is_publish = #{isPublish},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="openComment != null">open_comment = #{openComment},</if>
            <if test="type != null">type = #{type},</if>
            <if test="outsideLink != null">outside_link = #{outsideLink},</if>
            <if test="oid != null">oid = #{oid},</if>
            <if test="userUid != null">user_uid = #{userUid},</if>
            <if test="articleSource != null">article_source = #{articleSource},</if>
        </trim>
        where uid = #{uid}
    </update>

    <delete id="deleteBlogManageByUid" parameterType="String">
        delete from back_blog where uid = #{uid}
    </delete>

    <delete id="deleteBlogManageByUids" parameterType="String">
        delete from back_blog where uid in 
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>
</mapper>